[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dash = "*"
plotly = "*"
flask = "*"
gunicorn = "*"
rowingconditions = {editable = true, path = "."}
pandas = "*"

[requires]
python_version = "3.7"
